{
  "presets": [
    [ "es2015", { "modules": false } ],
    "stage-0", 
    "react"
  ],
  "env": {
    "test": {
      "plugins": [
      	"istanbul",
      	"transform-object-rest-spread"
      ]
    }
  }
}
