
/*

   SKINS
   * Backgrounds
   * Colors

*/
/* Backgrounds */
.bg-navy {
  background-color: #001F3F; }

.bg-wheat {
  background-color: #F5DEB3; }

.bg-blue {
  background-color: #0074D9; }

.bg-aqua {
  background-color: #7FDBFF; }

.bg-teal {
  background-color: #39CCCC; }

.bg-olive {
  background-color: #3D9970; }

.bg-green {
  background-color: #2ECC40; }

.bg-lime {
  background-color: #01FF70; }

.bg-yellow {
  background-color: #FFDC00; }

.bg-orange {
  background-color: #FF851B; }

.bg-red {
  background-color: #FF4136; }

.bg-fuchsia {
  background-color: #F012BE; }

.bg-purple {
  background-color: #B10DC9; }

.bg-maroon {
  background-color: #85144B; }

.bg-white {
  background-color: #fff; }

.bg-gray {
  background-color: #aaa; }

.bg-silver {
  background-color: #ddd; }

.bg-black {
  background-color: #111; }

/* Colors */
.wheat {
  color: #F5DEB3; }

.navy {
  color: #001F3F; }

.blue {
  color: #0074D9; }

.aqua {
  color: #7FDBFF; }

.teal {
  color: #39CCCC; }

.olive {
  color: #3D9970; }

.green {
  color: #2ECC40; }

.lime {
  color: #01FF70; }

.yellow {
  color: #FFDC00; }

.orange {
  color: #FF851B; }

.red {
  color: #FF4136; }

.fuchsia {
  color: #F012BE; }

.purple {
  color: #B10DC9; }

.maroon {
  color: #85144B; }

.white {
  color: #fff; }

.silver {
  color: #ddd; }

.gray {
  color: #aaa; }

.black {
  color: #111; }

/* PRETTIER LINKS */
a {
  text-decoration: none;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out; }

a:link {
  color: #0074D9;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out; }

a:visited {
  color: #001F3F; }

a:hover {
  color: #85144B;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out; }

a:active {
  color: #85144B;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    -ms-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    -ms-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9); }
  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1); }
  100% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); } }
.bounceOut {
  animation-name: bounceOut;
  animation-duration: .75s; }

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s; }

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  100% {
    -webkit-transform: none;
    transform: none; } }
/** zoomIn */
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fadeIn {
  animation-name: fadeIn; }

.container:after {
  content: "";
  display: table;
  clear: both; }

.row:before, .row-reverse:before, .row:after, .row-reverse:after {
  content: "";
  display: table; }
.row:after, .row-reverse:after {
  clear: both; }
.row, .row-reverse {
  zoom: 1; }

.gr-0, .gr-1, .gr-2, .gr-3, .gr-4, .gr-5, .gr-6, .gr-7, .gr-8, .gr-9, .gr-10, .gr-11, .gr-12, #content, #sidebar {
  display: inline-block;
  min-height: 1px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  padding-right: 10px;
  padding-left: 10px; }

.gr-adapt {
  display: table-cell;
  width: 1px;
  white-space: nowrap !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1rem;
  padding-right: 10px;
  padding-left: 10px; }

.gr-grow {
  display: table-cell;
  width: 99999px;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1rem;
  padding-right: 10px;
  padding-left: 10px; }

.push-0, .push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, #content {
  position: relative; }

.pull-0, .pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12 {
  position: relative; }

.nowrap {
  white-space: nowrap; }
  .nowrap > * {
    white-space: normal; }

.wrap {
  white-space: normal; }

.gr-centered {
  display: block !important;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  clear: both !important; }

@media screen and (max-width: 480px) {
  .container\@mobile:after {
    content: "";
    display: table;
    clear: both; } }
@media screen and (max-width: 480px) {
  .row\@mobile:before, .row-reverse\@mobile:before, .row\@mobile:after, .row-reverse\@mobile:after {
    content: "";
    display: table; }
  .row\@mobile:after, .row-reverse\@mobile:after {
    clear: both; }
  .row\@mobile, .row-reverse\@mobile {
    zoom: 1; } }
@media screen and (max-width: 480px) {
  .gr-0\@mobile, .gr-1\@mobile, .gr-2\@mobile, .gr-3\@mobile, .gr-4\@mobile, .gr-5\@mobile, .gr-6\@mobile, .gr-7\@mobile, .gr-8\@mobile, .gr-9\@mobile, .gr-10\@mobile, .gr-11\@mobile, .gr-12\@mobile, #content, #sidebar {
    display: inline-block;
    min-height: 1px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    padding-right: 10px;
    padding-left: 10px; } }
@media screen and (max-width: 480px) {
  .gr-adapt\@mobile {
    display: table-cell;
    width: 1px;
    white-space: nowrap !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1rem;
    padding-right: 10px;
    padding-left: 10px; } }
@media screen and (max-width: 480px) {
  .gr-grow\@mobile {
    display: table-cell;
    width: 99999px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1rem;
    padding-right: 10px;
    padding-left: 10px; } }
@media screen and (max-width: 480px) {
  .push-0\@mobile, .push-1\@mobile, .push-2\@mobile, .push-3\@mobile, .push-4\@mobile, .push-5\@mobile, .push-6\@mobile, .push-7\@mobile, .push-8\@mobile, .push-9\@mobile, .push-10\@mobile, .push-11\@mobile, .push-12\@mobile, #content {
    position: relative; } }
@media screen and (max-width: 480px) {
  .pull-0\@mobile, .pull-1\@mobile, .pull-2\@mobile, .pull-3\@mobile, .pull-4\@mobile, .pull-5\@mobile, .pull-6\@mobile, .pull-7\@mobile, .pull-8\@mobile, .pull-9\@mobile, .pull-10\@mobile, .pull-11\@mobile, .pull-12\@mobile {
    position: relative; } }
@media screen and (max-width: 480px) {
  .nowrap\@mobile {
    white-space: nowrap; }
    .nowrap\@mobile > * {
      white-space: normal; } }
@media screen and (max-width: 480px) {
  .wrap\@mobile {
    white-space: normal; } }
@media screen and (max-width: 480px) {
  .gr-centered\@mobile {
    display: block !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both !important; } }
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .container\@tablet:after {
    content: "";
    display: table;
    clear: both; } }
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .row\@tablet:before, .row-reverse\@tablet:before, .row\@tablet:after, .row-reverse\@tablet:after {
    content: "";
    display: table; }
  .row\@tablet:after, .row-reverse\@tablet:after {
    clear: both; }
  .row\@tablet, .row-reverse\@tablet {
    zoom: 1; } }
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .gr-0\@tablet, .gr-1\@tablet, .gr-2\@tablet, .gr-3\@tablet, .gr-4\@tablet, .gr-5\@tablet, .gr-6\@tablet, .gr-7\@tablet, .gr-8\@tablet, .gr-9\@tablet, .gr-10\@tablet, .gr-11\@tablet, .gr-12\@tablet, #content, #sidebar {
    display: inline-block;
    min-height: 1px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    padding-right: 10px;
    padding-left: 10px; } }
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .gr-adapt\@tablet {
    display: table-cell;
    width: 1px;
    white-space: nowrap !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1rem;
    padding-right: 10px;
    padding-left: 10px; } }
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .gr-grow\@tablet {
    display: table-cell;
    width: 99999px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1rem;
    padding-right: 10px;
    padding-left: 10px; } }
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .push-0\@tablet, .push-1\@tablet, .push-2\@tablet, .push-3\@tablet, .push-4\@tablet, .push-5\@tablet, .push-6\@tablet, .push-7\@tablet, .push-8\@tablet, .push-9\@tablet, .push-10\@tablet, .push-11\@tablet, .push-12\@tablet, #content {
    position: relative; } }
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .pull-0\@tablet, .pull-1\@tablet, .pull-2\@tablet, .pull-3\@tablet, .pull-4\@tablet, .pull-5\@tablet, .pull-6\@tablet, .pull-7\@tablet, .pull-8\@tablet, .pull-9\@tablet, .pull-10\@tablet, .pull-11\@tablet, .pull-12\@tablet {
    position: relative; } }
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .nowrap\@tablet {
    white-space: nowrap; }
    .nowrap\@tablet > * {
      white-space: normal; } }
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .wrap\@tablet {
    white-space: normal; } }
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .gr-centered\@tablet {
    display: block !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both !important; } }
@media (orientation: landscape) {
  .container\@landscape:after {
    content: "";
    display: table;
    clear: both; } }
@media (orientation: landscape) {
  .row\@landscape:before, .row-reverse\@landscape:before, .row\@landscape:after, .row-reverse\@landscape:after {
    content: "";
    display: table; }
  .row\@landscape:after, .row-reverse\@landscape:after {
    clear: both; }
  .row\@landscape, .row-reverse\@landscape {
    zoom: 1; } }
@media (orientation: landscape) {
  .gr-0\@landscape, .gr-1\@landscape, .gr-2\@landscape, .gr-3\@landscape, .gr-4\@landscape, .gr-5\@landscape, .gr-6\@landscape, .gr-7\@landscape, .gr-8\@landscape, .gr-9\@landscape, .gr-10\@landscape, .gr-11\@landscape, .gr-12\@landscape {
    display: inline-block;
    min-height: 1px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    padding-right: 10px;
    padding-left: 10px; } }
@media (orientation: landscape) {
  .gr-adapt\@landscape {
    display: table-cell;
    width: 1px;
    white-space: nowrap !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1rem;
    padding-right: 10px;
    padding-left: 10px; } }
@media (orientation: landscape) {
  .gr-grow\@landscape {
    display: table-cell;
    width: 99999px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1rem;
    padding-right: 10px;
    padding-left: 10px; } }
@media (orientation: landscape) {
  .push-0\@landscape, .push-1\@landscape, .push-2\@landscape, .push-3\@landscape, .push-4\@landscape, .push-5\@landscape, .push-6\@landscape, .push-7\@landscape, .push-8\@landscape, .push-9\@landscape, .push-10\@landscape, .push-11\@landscape, .push-12\@landscape {
    position: relative; } }
@media (orientation: landscape) {
  .pull-0\@landscape, .pull-1\@landscape, .pull-2\@landscape, .pull-3\@landscape, .pull-4\@landscape, .pull-5\@landscape, .pull-6\@landscape, .pull-7\@landscape, .pull-8\@landscape, .pull-9\@landscape, .pull-10\@landscape, .pull-11\@landscape, .pull-12\@landscape {
    position: relative; } }
@media (orientation: landscape) {
  .nowrap\@landscape {
    white-space: nowrap; }
    .nowrap\@landscape > * {
      white-space: normal; } }
@media (orientation: landscape) {
  .wrap\@landscape {
    white-space: normal; } }
@media (orientation: landscape) {
  .gr-centered\@landscape {
    display: block !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both !important; } }
@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: device-width; } }
#gridle-settings {
  content: '{ "version" : "2.0.43", "states" : { "default":{ "name" : "default", "min-width" : null, "max-width" : null, "query" : null, "classes" : true, "context" : "12", "column-width" : null, "gutter-width" : "20px", "gutter-height" : "0", "gutter-top" : "0", "gutter-right" : "10px", "gutter-bottom" : "0", "gutter-left" : "10px", "direction" : "ltr", "dir-attribute" : false, "name-multiplicator" : "1", "states-classes" : false, "classes-prefix" : null, "_" : true }, "mobile":{ "name" : "mobile", "min-width" : null, "max-width" : "480px", "query" : "screen and (max-width: 480px)", "classes" : true, "context" : "12", "column-width" : null, "gutter-width" : "10px", "gutter-height" : "0", "gutter-top" : "0", "gutter-right" : "5px", "gutter-bottom" : "0", "gutter-left" : "5px", "direction" : "ltr", "dir-attribute" : false, "name-multiplicator" : "1", "states-classes" : false, "classes-prefix" : null, "_" : true }, "tablet":{ "name" : "tablet", "min-width" : "481px", "max-width" : "1024px", "query" : "screen and (min-width: 481px) and (max-width: 1024px)", "classes" : true, "context" : "12", "column-width" : null, "gutter-width" : "20px", "gutter-height" : "0", "gutter-top" : "0", "gutter-right" : "10px", "gutter-bottom" : "0", "gutter-left" : "10px", "direction" : "ltr", "dir-attribute" : false, "name-multiplicator" : "1", "states-classes" : false, "classes-prefix" : null, "_" : true }, "landscape":{ "name" : "landscape", "min-width" : null, "max-width" : null, "query" : "(orientation : landscape)", "classes" : true, "context" : "12", "column-width" : null, "gutter-width" : "20px", "gutter-height" : "0", "gutter-top" : "0", "gutter-right" : "10px", "gutter-bottom" : "0", "gutter-left" : "10px", "direction" : "ltr", "dir-attribute" : false, "name-multiplicator" : "1", "states-classes" : false, "classes-prefix" : null, "_" : true }} }'; }

.gr-0 {
  width: 0%; }

.push-0 {
  left: 0%; }

.pull-0 {
  right: 0%; }

.prefix-0 {
  margin-left: 0%; }

.suffix-0 {
  margin-right: 0%; }

.gr-1 {
  width: 8.33333%; }

.push-1 {
  left: 8.33333%; }

.pull-1 {
  right: 8.33333%; }

.prefix-1 {
  margin-left: 8.33333%; }

.suffix-1 {
  margin-right: 8.33333%; }

.gr-2 {
  width: 16.66667%; }

.push-2 {
  left: 16.66667%; }

.pull-2 {
  right: 16.66667%; }

.prefix-2 {
  margin-left: 16.66667%; }

.suffix-2 {
  margin-right: 16.66667%; }

.gr-3 {
  width: 25%; }

.push-3 {
  left: 25.0%; }

.pull-3 {
  right: 25.0%; }

.prefix-3 {
  margin-left: 25.0%; }

.suffix-3 {
  margin-right: 25.0%; }

.gr-4 {
  width: 33.33333%; }

.push-4 {
  left: 33.33333%; }

.pull-4 {
  right: 33.33333%; }

.prefix-4 {
  margin-left: 33.33333%; }

.suffix-4 {
  margin-right: 33.33333%; }

.gr-5 {
  width: 41.66667%; }

.push-5 {
  left: 41.66667%; }

.pull-5 {
  right: 41.66667%; }

.prefix-5 {
  margin-left: 41.66667%; }

.suffix-5 {
  margin-right: 41.66667%; }

.gr-6 {
  width: 50%; }

.push-6 {
  left: 50.0%; }

.pull-6 {
  right: 50.0%; }

.prefix-6 {
  margin-left: 50.0%; }

.suffix-6 {
  margin-right: 50.0%; }

.gr-7 {
  width: 58.33333%; }

.push-7 {
  left: 58.33333%; }

.pull-7 {
  right: 58.33333%; }

.prefix-7 {
  margin-left: 58.33333%; }

.suffix-7 {
  margin-right: 58.33333%; }

.gr-8 {
  width: 66.66667%; }

.push-8 {
  left: 66.66667%; }

.pull-8 {
  right: 66.66667%; }

.prefix-8 {
  margin-left: 66.66667%; }

.suffix-8 {
  margin-right: 66.66667%; }

.gr-9 {
  width: 75%; }

.push-9 {
  left: 75.0%; }

.pull-9 {
  right: 75.0%; }

.prefix-9 {
  margin-left: 75.0%; }

.suffix-9 {
  margin-right: 75.0%; }

.gr-10 {
  width: 83.33333%; }

.push-10 {
  left: 83.33333%; }

.pull-10 {
  right: 83.33333%; }

.prefix-10 {
  margin-left: 83.33333%; }

.suffix-10 {
  margin-right: 83.33333%; }

.gr-11 {
  width: 91.66667%; }

.push-11 {
  left: 91.66667%; }

.pull-11 {
  right: 91.66667%; }

.prefix-11 {
  margin-left: 91.66667%; }

.suffix-11 {
  margin-right: 91.66667%; }

.gr-12 {
  width: 100%; }

.push-12 {
  left: 100.0%; }

.pull-12 {
  right: 100.0%; }

.prefix-12 {
  margin-left: 100.0%; }

.suffix-12 {
  margin-right: 100.0%; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear {
  clear: both; }

.clear-left {
  clear: left; }

.clear-right {
  clear: right; }

.no-gutter {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0; }

.no-gutter-left {
  padding-left: 0; }

.no-gutter-right {
  padding-right: 0; }

.no-gutter-top {
  padding-top: 0; }

.no-gutter-bottom {
  padding-bottom: 0; }

.gutter {
  padding-right: 10px;
  padding-left: 10px; }

.gutter-left {
  padding-left: 10px; }

.gutter-right {
  padding-right: 10px; }

.auto-height {
  height: inherit; }

.row {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px; }

.row-reverse {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px; }

.row-full {
  width: 100vw;
  margin-left: 50% !important;
  margin-right: 0 !important;
  -webkit-transform: translateX(-50%);
  -moz-transition: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.col {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px; }

.col-reverse {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px; }

.gr-table {
  display: table-cell;
  float: none;
  vertical-align: top; }

.row-align-left {
  font-size: 0;
  clear: both;
  text-align: left; }
  .row-align-left > * {
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem; }
@-moz-document url-prefix() {
  .row-align-left > * {
    margin-right: -0.5px; } }
.row-align-center {
  font-size: 0;
  clear: both;
  text-align: center; }
  .row-align-center > * {
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem; }
@-moz-document url-prefix() {
  .row-align-center > * {
    margin-right: -0.5px; } }
  .row-align-center > * {
    text-align: left; }

.row-align-right {
  font-size: 0;
  clear: both;
  text-align: right; }
  .row-align-right > * {
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem; }
@-moz-document url-prefix() {
  .row-align-right > * {
    margin-right: -0.5px; } }
  .row-align-right > * {
    text-align: left; }

.row-align-middle {
  font-size: 0;
  clear: both;
  vertical-align: middle; }
  .row-align-middle > * {
    float: none !important;
    vertical-align: middle;
    font-size: 1rem; }
@-moz-document url-prefix() {
  .row-align-middle > * {
    margin-right: -0.5px; } }
.row-align-top {
  font-size: 0;
  clear: both;
  vertical-align: top; }
  .row-align-top > * {
    float: none !important;
    vertical-align: top;
    font-size: 1rem; }
@-moz-document url-prefix() {
  .row-align-top > * {
    margin-right: -0.5px; } }
.row-align-bottom {
  font-size: 0;
  clear: both;
  vertical-align: bottom; }
  .row-align-bottom > * {
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem; }
@-moz-document url-prefix() {
  .row-align-bottom > * {
    margin-right: -0.5px; } }
.hide {
  display: none; }

.not-visible {
  visibility: hidden; }

.show {
  display: block; }

.show-inline {
  display: inline-block; }

.visible {
  visibility: visible; }

.row-debug {
  position: relative;
  z-index: 99999;
  overflow: hidden; }
  .row-debug:before {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99999px;
    background: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 0.02) 50%);
    background-size: 16.66667% 100%;
    z-index: 99999; }

body {
  direction: ltr; }

@media screen and (max-width: 480px) {
  .gr-0\@mobile {
    width: 0%; }

  .push-0\@mobile {
    left: 0%; }

  .pull-0\@mobile {
    right: 0%; }

  .prefix-0\@mobile {
    margin-left: 0%; }

  .suffix-0\@mobile {
    margin-right: 0%; }

  .gr-1\@mobile {
    width: 8.33333%; }

  .push-1\@mobile {
    left: 8.33333%; }

  .pull-1\@mobile {
    right: 8.33333%; }

  .prefix-1\@mobile {
    margin-left: 8.33333%; }

  .suffix-1\@mobile {
    margin-right: 8.33333%; }

  .gr-2\@mobile {
    width: 16.66667%; }

  .push-2\@mobile {
    left: 16.66667%; }

  .pull-2\@mobile {
    right: 16.66667%; }

  .prefix-2\@mobile {
    margin-left: 16.66667%; }

  .suffix-2\@mobile {
    margin-right: 16.66667%; }

  .gr-3\@mobile {
    width: 25%; }

  .push-3\@mobile {
    left: 25.0%; }

  .pull-3\@mobile {
    right: 25.0%; }

  .prefix-3\@mobile {
    margin-left: 25.0%; }

  .suffix-3\@mobile {
    margin-right: 25.0%; }

  .gr-4\@mobile {
    width: 33.33333%; }

  .push-4\@mobile {
    left: 33.33333%; }

  .pull-4\@mobile {
    right: 33.33333%; }

  .prefix-4\@mobile {
    margin-left: 33.33333%; }

  .suffix-4\@mobile {
    margin-right: 33.33333%; }

  .gr-5\@mobile {
    width: 41.66667%; }

  .push-5\@mobile {
    left: 41.66667%; }

  .pull-5\@mobile {
    right: 41.66667%; }

  .prefix-5\@mobile {
    margin-left: 41.66667%; }

  .suffix-5\@mobile {
    margin-right: 41.66667%; }

  .gr-6\@mobile {
    width: 50%; }

  .push-6\@mobile {
    left: 50.0%; }

  .pull-6\@mobile {
    right: 50.0%; }

  .prefix-6\@mobile {
    margin-left: 50.0%; }

  .suffix-6\@mobile {
    margin-right: 50.0%; }

  .gr-7\@mobile {
    width: 58.33333%; }

  .push-7\@mobile {
    left: 58.33333%; }

  .pull-7\@mobile {
    right: 58.33333%; }

  .prefix-7\@mobile {
    margin-left: 58.33333%; }

  .suffix-7\@mobile {
    margin-right: 58.33333%; }

  .gr-8\@mobile {
    width: 66.66667%; }

  .push-8\@mobile {
    left: 66.66667%; }

  .pull-8\@mobile {
    right: 66.66667%; }

  .prefix-8\@mobile {
    margin-left: 66.66667%; }

  .suffix-8\@mobile {
    margin-right: 66.66667%; }

  .gr-9\@mobile {
    width: 75%; }

  .push-9\@mobile {
    left: 75.0%; }

  .pull-9\@mobile {
    right: 75.0%; }

  .prefix-9\@mobile {
    margin-left: 75.0%; }

  .suffix-9\@mobile {
    margin-right: 75.0%; }

  .gr-10\@mobile {
    width: 83.33333%; }

  .push-10\@mobile {
    left: 83.33333%; }

  .pull-10\@mobile {
    right: 83.33333%; }

  .prefix-10\@mobile {
    margin-left: 83.33333%; }

  .suffix-10\@mobile {
    margin-right: 83.33333%; }

  .gr-11\@mobile {
    width: 91.66667%; }

  .push-11\@mobile {
    left: 91.66667%; }

  .pull-11\@mobile {
    right: 91.66667%; }

  .prefix-11\@mobile {
    margin-left: 91.66667%; }

  .suffix-11\@mobile {
    margin-right: 91.66667%; }

  .gr-12\@mobile {
    width: 100%; }

  .push-12\@mobile {
    left: 100.0%; }

  .pull-12\@mobile {
    right: 100.0%; }

  .prefix-12\@mobile {
    margin-left: 100.0%; }

  .suffix-12\@mobile {
    margin-right: 100.0%; }

  .float-left\@mobile {
    float: left; }

  .float-right\@mobile {
    float: right; }

  .clear\@mobile {
    clear: both; }

  .clear-left\@mobile {
    clear: left; }

  .clear-right\@mobile {
    clear: right; }

  .no-gutter\@mobile {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0; }

  .no-gutter-left\@mobile {
    padding-left: 0; }

  .no-gutter-right\@mobile {
    padding-right: 0; }

  .no-gutter-top\@mobile {
    padding-top: 0; }

  .no-gutter-bottom\@mobile {
    padding-bottom: 0; }

  .gutter\@mobile {
    padding-right: 5px;
    padding-left: 5px; }

  .gutter-left\@mobile {
    padding-left: 5px; }

  .gutter-right\@mobile {
    padding-right: 5px; }

  .auto-height\@mobile {
    height: inherit; }

  .row\@mobile {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -5px;
    margin-right: -5px; }

  .row-reverse\@mobile {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -5px;
    margin-right: -5px; }

  .row-full\@mobile {
    width: 100vw;
    margin-left: 50% !important;
    margin-right: 0 !important;
    -webkit-transform: translateX(-50%);
    -moz-transition: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }

  .col\@mobile {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -5px;
    margin-right: -5px; }

  .col-reverse\@mobile {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -5px;
    margin-right: -5px; }

  .gr-table\@mobile {
    display: table-cell;
    float: none;
    vertical-align: top; }

  .row-align-left\@mobile {
    font-size: 0;
    clear: both;
    text-align: left; }
    .row-align-left\@mobile > * {
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-left\@mobile > * {
      margin-right: -0.5px; } }
  .row-align-center\@mobile {
    font-size: 0;
    clear: both;
    text-align: center; }
    .row-align-center\@mobile > * {
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-center\@mobile > * {
      margin-right: -0.5px; } }
    .row-align-center\@mobile > * {
      text-align: left; }

  .row-align-right\@mobile {
    font-size: 0;
    clear: both;
    text-align: right; }
    .row-align-right\@mobile > * {
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-right\@mobile > * {
      margin-right: -0.5px; } }
    .row-align-right\@mobile > * {
      text-align: left; }

  .row-align-middle\@mobile {
    font-size: 0;
    clear: both;
    vertical-align: middle; }
    .row-align-middle\@mobile > * {
      float: none !important;
      vertical-align: middle;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-middle\@mobile > * {
      margin-right: -0.5px; } }
  .row-align-top\@mobile {
    font-size: 0;
    clear: both;
    vertical-align: top; }
    .row-align-top\@mobile > * {
      float: none !important;
      vertical-align: top;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-top\@mobile > * {
      margin-right: -0.5px; } }
  .row-align-bottom\@mobile {
    font-size: 0;
    clear: both;
    vertical-align: bottom; }
    .row-align-bottom\@mobile > * {
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-bottom\@mobile > * {
      margin-right: -0.5px; } }
  .hide\@mobile {
    display: none; }

  .not-visible\@mobile {
    visibility: hidden; }

  .show\@mobile {
    display: block; }

  .show-inline\@mobile {
    display: inline-block; }

  .visible\@mobile {
    visibility: visible; }

  .row-debug\@mobile {
    position: relative;
    z-index: 99999;
    overflow: hidden; }
    .row-debug\@mobile:before {
      pointer-events: none;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 99999px;
      background: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 0.02) 50%);
      background-size: 16.66667% 100%;
      z-index: 99999; }

  body {
    direction: ltr; } }
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .gr-0\@tablet {
    width: 0%; }

  .push-0\@tablet {
    left: 0%; }

  .pull-0\@tablet {
    right: 0%; }

  .prefix-0\@tablet {
    margin-left: 0%; }

  .suffix-0\@tablet {
    margin-right: 0%; }

  .gr-1\@tablet {
    width: 8.33333%; }

  .push-1\@tablet {
    left: 8.33333%; }

  .pull-1\@tablet {
    right: 8.33333%; }

  .prefix-1\@tablet {
    margin-left: 8.33333%; }

  .suffix-1\@tablet {
    margin-right: 8.33333%; }

  .gr-2\@tablet {
    width: 16.66667%; }

  .push-2\@tablet {
    left: 16.66667%; }

  .pull-2\@tablet {
    right: 16.66667%; }

  .prefix-2\@tablet {
    margin-left: 16.66667%; }

  .suffix-2\@tablet {
    margin-right: 16.66667%; }

  .gr-3\@tablet {
    width: 25%; }

  .push-3\@tablet {
    left: 25.0%; }

  .pull-3\@tablet {
    right: 25.0%; }

  .prefix-3\@tablet {
    margin-left: 25.0%; }

  .suffix-3\@tablet {
    margin-right: 25.0%; }

  .gr-4\@tablet {
    width: 33.33333%; }

  .push-4\@tablet {
    left: 33.33333%; }

  .pull-4\@tablet {
    right: 33.33333%; }

  .prefix-4\@tablet {
    margin-left: 33.33333%; }

  .suffix-4\@tablet {
    margin-right: 33.33333%; }

  .gr-5\@tablet {
    width: 41.66667%; }

  .push-5\@tablet {
    left: 41.66667%; }

  .pull-5\@tablet {
    right: 41.66667%; }

  .prefix-5\@tablet {
    margin-left: 41.66667%; }

  .suffix-5\@tablet {
    margin-right: 41.66667%; }

  .gr-6\@tablet {
    width: 50%; }

  .push-6\@tablet {
    left: 50.0%; }

  .pull-6\@tablet {
    right: 50.0%; }

  .prefix-6\@tablet {
    margin-left: 50.0%; }

  .suffix-6\@tablet {
    margin-right: 50.0%; }

  .gr-7\@tablet {
    width: 58.33333%; }

  .push-7\@tablet {
    left: 58.33333%; }

  .pull-7\@tablet {
    right: 58.33333%; }

  .prefix-7\@tablet {
    margin-left: 58.33333%; }

  .suffix-7\@tablet {
    margin-right: 58.33333%; }

  .gr-8\@tablet {
    width: 66.66667%; }

  .push-8\@tablet {
    left: 66.66667%; }

  .pull-8\@tablet {
    right: 66.66667%; }

  .prefix-8\@tablet {
    margin-left: 66.66667%; }

  .suffix-8\@tablet {
    margin-right: 66.66667%; }

  .gr-9\@tablet {
    width: 75%; }

  .push-9\@tablet {
    left: 75.0%; }

  .pull-9\@tablet {
    right: 75.0%; }

  .prefix-9\@tablet {
    margin-left: 75.0%; }

  .suffix-9\@tablet {
    margin-right: 75.0%; }

  .gr-10\@tablet {
    width: 83.33333%; }

  .push-10\@tablet {
    left: 83.33333%; }

  .pull-10\@tablet {
    right: 83.33333%; }

  .prefix-10\@tablet {
    margin-left: 83.33333%; }

  .suffix-10\@tablet {
    margin-right: 83.33333%; }

  .gr-11\@tablet {
    width: 91.66667%; }

  .push-11\@tablet {
    left: 91.66667%; }

  .pull-11\@tablet {
    right: 91.66667%; }

  .prefix-11\@tablet {
    margin-left: 91.66667%; }

  .suffix-11\@tablet {
    margin-right: 91.66667%; }

  .gr-12\@tablet {
    width: 100%; }

  .push-12\@tablet {
    left: 100.0%; }

  .pull-12\@tablet {
    right: 100.0%; }

  .prefix-12\@tablet {
    margin-left: 100.0%; }

  .suffix-12\@tablet {
    margin-right: 100.0%; }

  .float-left\@tablet {
    float: left; }

  .float-right\@tablet {
    float: right; }

  .clear\@tablet {
    clear: both; }

  .clear-left\@tablet {
    clear: left; }

  .clear-right\@tablet {
    clear: right; }

  .no-gutter\@tablet {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0; }

  .no-gutter-left\@tablet {
    padding-left: 0; }

  .no-gutter-right\@tablet {
    padding-right: 0; }

  .no-gutter-top\@tablet {
    padding-top: 0; }

  .no-gutter-bottom\@tablet {
    padding-bottom: 0; }

  .gutter\@tablet {
    padding-right: 10px;
    padding-left: 10px; }

  .gutter-left\@tablet {
    padding-left: 10px; }

  .gutter-right\@tablet {
    padding-right: 10px; }

  .auto-height\@tablet {
    height: inherit; }

  .row\@tablet {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px; }

  .row-reverse\@tablet {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px; }

  .row-full\@tablet {
    width: 100vw;
    margin-left: 50% !important;
    margin-right: 0 !important;
    -webkit-transform: translateX(-50%);
    -moz-transition: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }

  .col\@tablet {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px; }

  .col-reverse\@tablet {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px; }

  .gr-table\@tablet {
    display: table-cell;
    float: none;
    vertical-align: top; }

  .row-align-left\@tablet {
    font-size: 0;
    clear: both;
    text-align: left; }
    .row-align-left\@tablet > * {
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-left\@tablet > * {
      margin-right: -0.5px; } }
  .row-align-center\@tablet {
    font-size: 0;
    clear: both;
    text-align: center; }
    .row-align-center\@tablet > * {
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-center\@tablet > * {
      margin-right: -0.5px; } }
    .row-align-center\@tablet > * {
      text-align: left; }

  .row-align-right\@tablet {
    font-size: 0;
    clear: both;
    text-align: right; }
    .row-align-right\@tablet > * {
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-right\@tablet > * {
      margin-right: -0.5px; } }
    .row-align-right\@tablet > * {
      text-align: left; }

  .row-align-middle\@tablet {
    font-size: 0;
    clear: both;
    vertical-align: middle; }
    .row-align-middle\@tablet > * {
      float: none !important;
      vertical-align: middle;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-middle\@tablet > * {
      margin-right: -0.5px; } }
  .row-align-top\@tablet {
    font-size: 0;
    clear: both;
    vertical-align: top; }
    .row-align-top\@tablet > * {
      float: none !important;
      vertical-align: top;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-top\@tablet > * {
      margin-right: -0.5px; } }
  .row-align-bottom\@tablet {
    font-size: 0;
    clear: both;
    vertical-align: bottom; }
    .row-align-bottom\@tablet > * {
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-bottom\@tablet > * {
      margin-right: -0.5px; } }
  .hide\@tablet {
    display: none; }

  .not-visible\@tablet {
    visibility: hidden; }

  .show\@tablet {
    display: block; }

  .show-inline\@tablet {
    display: inline-block; }

  .visible\@tablet {
    visibility: visible; }

  .row-debug\@tablet {
    position: relative;
    z-index: 99999;
    overflow: hidden; }
    .row-debug\@tablet:before {
      pointer-events: none;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 99999px;
      background: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 0.02) 50%);
      background-size: 16.66667% 100%;
      z-index: 99999; }

  body {
    direction: ltr; } }
@media (orientation: landscape) {
  .gr-0\@landscape {
    width: 0%; }

  .push-0\@landscape {
    left: 0%; }

  .pull-0\@landscape {
    right: 0%; }

  .prefix-0\@landscape {
    margin-left: 0%; }

  .suffix-0\@landscape {
    margin-right: 0%; }

  .gr-1\@landscape {
    width: 8.33333%; }

  .push-1\@landscape {
    left: 8.33333%; }

  .pull-1\@landscape {
    right: 8.33333%; }

  .prefix-1\@landscape {
    margin-left: 8.33333%; }

  .suffix-1\@landscape {
    margin-right: 8.33333%; }

  .gr-2\@landscape {
    width: 16.66667%; }

  .push-2\@landscape {
    left: 16.66667%; }

  .pull-2\@landscape {
    right: 16.66667%; }

  .prefix-2\@landscape {
    margin-left: 16.66667%; }

  .suffix-2\@landscape {
    margin-right: 16.66667%; }

  .gr-3\@landscape {
    width: 25%; }

  .push-3\@landscape {
    left: 25.0%; }

  .pull-3\@landscape {
    right: 25.0%; }

  .prefix-3\@landscape {
    margin-left: 25.0%; }

  .suffix-3\@landscape {
    margin-right: 25.0%; }

  .gr-4\@landscape {
    width: 33.33333%; }

  .push-4\@landscape {
    left: 33.33333%; }

  .pull-4\@landscape {
    right: 33.33333%; }

  .prefix-4\@landscape {
    margin-left: 33.33333%; }

  .suffix-4\@landscape {
    margin-right: 33.33333%; }

  .gr-5\@landscape {
    width: 41.66667%; }

  .push-5\@landscape {
    left: 41.66667%; }

  .pull-5\@landscape {
    right: 41.66667%; }

  .prefix-5\@landscape {
    margin-left: 41.66667%; }

  .suffix-5\@landscape {
    margin-right: 41.66667%; }

  .gr-6\@landscape {
    width: 50%; }

  .push-6\@landscape {
    left: 50.0%; }

  .pull-6\@landscape {
    right: 50.0%; }

  .prefix-6\@landscape {
    margin-left: 50.0%; }

  .suffix-6\@landscape {
    margin-right: 50.0%; }

  .gr-7\@landscape {
    width: 58.33333%; }

  .push-7\@landscape {
    left: 58.33333%; }

  .pull-7\@landscape {
    right: 58.33333%; }

  .prefix-7\@landscape {
    margin-left: 58.33333%; }

  .suffix-7\@landscape {
    margin-right: 58.33333%; }

  .gr-8\@landscape {
    width: 66.66667%; }

  .push-8\@landscape {
    left: 66.66667%; }

  .pull-8\@landscape {
    right: 66.66667%; }

  .prefix-8\@landscape {
    margin-left: 66.66667%; }

  .suffix-8\@landscape {
    margin-right: 66.66667%; }

  .gr-9\@landscape {
    width: 75%; }

  .push-9\@landscape {
    left: 75.0%; }

  .pull-9\@landscape {
    right: 75.0%; }

  .prefix-9\@landscape {
    margin-left: 75.0%; }

  .suffix-9\@landscape {
    margin-right: 75.0%; }

  .gr-10\@landscape {
    width: 83.33333%; }

  .push-10\@landscape {
    left: 83.33333%; }

  .pull-10\@landscape {
    right: 83.33333%; }

  .prefix-10\@landscape {
    margin-left: 83.33333%; }

  .suffix-10\@landscape {
    margin-right: 83.33333%; }

  .gr-11\@landscape {
    width: 91.66667%; }

  .push-11\@landscape {
    left: 91.66667%; }

  .pull-11\@landscape {
    right: 91.66667%; }

  .prefix-11\@landscape {
    margin-left: 91.66667%; }

  .suffix-11\@landscape {
    margin-right: 91.66667%; }

  .gr-12\@landscape {
    width: 100%; }

  .push-12\@landscape {
    left: 100.0%; }

  .pull-12\@landscape {
    right: 100.0%; }

  .prefix-12\@landscape {
    margin-left: 100.0%; }

  .suffix-12\@landscape {
    margin-right: 100.0%; }

  .float-left\@landscape {
    float: left; }

  .float-right\@landscape {
    float: right; }

  .clear\@landscape {
    clear: both; }

  .clear-left\@landscape {
    clear: left; }

  .clear-right\@landscape {
    clear: right; }

  .no-gutter\@landscape {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0; }

  .no-gutter-left\@landscape {
    padding-left: 0; }

  .no-gutter-right\@landscape {
    padding-right: 0; }

  .no-gutter-top\@landscape {
    padding-top: 0; }

  .no-gutter-bottom\@landscape {
    padding-bottom: 0; }

  .gutter\@landscape {
    padding-right: 10px;
    padding-left: 10px; }

  .gutter-left\@landscape {
    padding-left: 10px; }

  .gutter-right\@landscape {
    padding-right: 10px; }

  .auto-height\@landscape {
    height: inherit; }

  .row\@landscape {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px; }

  .row-reverse\@landscape {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px; }

  .row-full\@landscape {
    width: 100vw;
    margin-left: 50% !important;
    margin-right: 0 !important;
    -webkit-transform: translateX(-50%);
    -moz-transition: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }

  .col\@landscape {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px; }

  .col-reverse\@landscape {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px; }

  .gr-table\@landscape {
    display: table-cell;
    float: none;
    vertical-align: top; }

  .row-align-left\@landscape {
    font-size: 0;
    clear: both;
    text-align: left; }
    .row-align-left\@landscape > * {
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-left\@landscape > * {
      margin-right: -0.5px; } }
  .row-align-center\@landscape {
    font-size: 0;
    clear: both;
    text-align: center; }
    .row-align-center\@landscape > * {
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-center\@landscape > * {
      margin-right: -0.5px; } }
    .row-align-center\@landscape > * {
      text-align: left; }

  .row-align-right\@landscape {
    font-size: 0;
    clear: both;
    text-align: right; }
    .row-align-right\@landscape > * {
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-right\@landscape > * {
      margin-right: -0.5px; } }
    .row-align-right\@landscape > * {
      text-align: left; }

  .row-align-middle\@landscape {
    font-size: 0;
    clear: both;
    vertical-align: middle; }
    .row-align-middle\@landscape > * {
      float: none !important;
      vertical-align: middle;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-middle\@landscape > * {
      margin-right: -0.5px; } }
  .row-align-top\@landscape {
    font-size: 0;
    clear: both;
    vertical-align: top; }
    .row-align-top\@landscape > * {
      float: none !important;
      vertical-align: top;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-top\@landscape > * {
      margin-right: -0.5px; } }
  .row-align-bottom\@landscape {
    font-size: 0;
    clear: both;
    vertical-align: bottom; }
    .row-align-bottom\@landscape > * {
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-bottom\@landscape > * {
      margin-right: -0.5px; } }
  .hide\@landscape {
    display: none; }

  .not-visible\@landscape {
    visibility: hidden; }

  .show\@landscape {
    display: block; }

  .show-inline\@landscape {
    display: inline-block; }

  .visible\@landscape {
    visibility: visible; }

  .row-debug\@landscape {
    position: relative;
    z-index: 99999;
    overflow: hidden; }
    .row-debug\@landscape:before {
      pointer-events: none;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 99999px;
      background: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 0.02) 50%);
      background-size: 16.66667% 100%;
      z-index: 99999; }

  body {
    direction: ltr; } }
@media screen and (max-width: 480px) {
  .gr-0, .gr-1, .gr-2, .gr-3, .gr-4, .gr-5, .gr-6, .gr-7, .gr-8, .gr-9, .gr-10, .gr-11, .gr-12, .gr-0\@mobile, .gr-1\@mobile, .gr-2\@mobile, .gr-3\@mobile, .gr-4\@mobile, .gr-5\@mobile, .gr-6\@mobile, .gr-7\@mobile, .gr-8\@mobile, .gr-9\@mobile, .gr-10\@mobile, .gr-11\@mobile, .gr-12\@mobile, .gr-0\@tablet, .gr-1\@tablet, .gr-2\@tablet, .gr-3\@tablet, .gr-4\@tablet, .gr-5\@tablet, .gr-6\@tablet, .gr-7\@tablet, .gr-8\@tablet, .gr-9\@tablet, .gr-10\@tablet, .gr-11\@tablet, .gr-12\@tablet, .gr-0\@landscape, .gr-1\@landscape, .gr-2\@landscape, .gr-3\@landscape, .gr-4\@landscape, .gr-5\@landscape, .gr-6\@landscape, .gr-7\@landscape, .gr-8\@landscape, .gr-9\@landscape, .gr-10\@landscape, .gr-11\@landscape, .gr-12\@landscape {
    padding-right: 5px;
    padding-left: 5px; }

  .gr-grow, .gr-grow\@mobile, .gr-grow\@tablet, .gr-grow\@landscape {
    padding-right: 5px;
    padding-left: 5px; }

  .gr-adapt, .gr-adapt\@mobile, .gr-adapt\@tablet, .gr-adapt\@landscape {
    padding-right: 5px;
    padding-left: 5px; } }
[class*="gr"] > [class*="row"],
[class*="gr"] > [class*="col"] {
  margin-left: -10px;
  margin-right: -10px; }

@media screen and (max-width: 480px) {
  [class*="gr"] > [class*="row"],
  [class*="gr"] > [class*="col"] {
    margin-left: -5px;
    margin-right: -5px; } }
@media screen and (min-width: 481px) and (max-width: 1024px) {
  [class*="gr"] > [class*="row"],
  [class*="gr"] > [class*="col"] {
    margin-left: -10px;
    margin-right: -10px; } }
@media (orientation: landscape) {
  [class*="gr"] > [class*="row"],
  [class*="gr"] > [class*="col"] {
    margin-left: -10px;
    margin-right: -10px; } }
.container {
  max-width: 1280px;
  margin: 0 auto; }

#header {
  background: linear-gradient(to bottom, #ffee58 50%, #fff59d 100%); }

#content {
  width: 100%;
  overflow: hidden; }
  @media screen and (max-width: 480px) {
    #content {
      padding-right: 5px;
      padding-left: 5px; } }
  @media screen and (max-width: 480px) {
    #content {
      width: 100%;
      display: block;
      left: 0%; } }

  @media screen and (max-width: 600px) {
    #content {
font-size:20px;
      }
	.footer{
	font-size:16px;
}
 }

  @media screen and (min-width: 481px) and (max-width: 1024px) {
    #content {
      width: 100%;
      } }

h1 {
  border-bottom: 1px;
  border-style: none none dashed none;
  border-color: rgba(0, 0, 0, 0.54);
color: rgba(0, 0, 0, 0.54); }
html, body {
  -webkit-font-smoothing: antialiased;
  color: #000;
  opacity:1;
  font-size: 14px;
  font-family: "Titillium", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility; 
  background: #AAA;
}
html::selection, body::selection {
  background: #DD574C;
color: #fff; }

blockquote {
display: none; }
.footer{
  padding: 30px 0 0 0;
  opacity:0.7;
  text-align:center;
  background:#fff;
  border-bottom: 0;
  border-top: 1px;
  border-style: dashed none dotted none;
  border-color: rgba(0, 0, 0, 0.54);

}
hr{
  border-bottom: 1px;
  border-style: none none dashed none;
  border-color: rgba(0, 0, 0, 0.54);
color: rgba(0, 0, 0, 0.54); }
.breadcrumbs{
  background: #fff;
  padding:10px;
}
/* PRETTIER LINKS */
.breadcrumbs a {
  text-decoration: none;
  -webkit-transition: color .3s ease-in-out;
transition: color .3s ease-in-out; }

.breadcrumbs a:link {
  color: #0074D9;
  -webkit-transition: color .3s ease-in-out;
transition: color .3s ease-in-out; }

.breadcrumbs a:visited {
color: #001F3F; }

.breadcrumbs a:hover {
  color: #85144B;
  -webkit-transition: color .3s ease-in-out;
transition: color .3s ease-in-out; }

.breadcrumbs a:active {
  color: #85144B;
  -webkit-transition: color .3s ease-in-out;
transition: color .3s ease-in-out; }

.content{
  background: #EEE;
  padding:10px;
}
