.breadcrumbs {
	background: #333;

	&__inner {
		display: flex;
		height: 1.4rem;
		max-width: 1280px;
		margin: 0 auto;
		padding: 0 1.5em;
		align-items: center;
	}

	&__crumb {
		font-size: 12.8px;
		line-height: 1em;
		margin-right: 1em;
		color: #f39c12;
		text-transform: uppercase;

		&:not(:first-of-type)::before {
			content: '>';
			margin-right: 1em;
			color: white;
			pointer-events: none;
		}

		&:hover {
			color: #d35400;
		}

		&--active {
			pointer-events: none;
			color: white;
		}
	}

	&--hidden {
		display: none;
	}
}
